[submodule "CarbonVSCode"]
	path = CarbonVSCode
	url = https://github.com/rishaandesai/CarbonVSCode.git
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp/
[submodule "carbon-lang"]
	path = carbon-lang
	url = https://github.com/carbon-language/carbon-lang
